* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poiret One";
}

.resp {
    width: 100%;
    height: auto;
}

.ml-10 {
    margin-left: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

a {
    text-decoration: none;
}

/***** HEADER *****/
.header {
    background-color: #d5702b;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    position: fixed;
    width: 100%;
}

#logo {
    width: 50px;
    transition: ease 0.3s;
}

#logo:hover {
    transform: scale(1.2);
}

#menu {
    width: 40px;
    margin-top: 5px;
    margin-right: 5px;
    transition: ease 0.3s;
}

#menu:hover {
    transform: scale(1.2);
}

.italic {
    font-style: italic;
}


/***** MAIN *****/
.main {
    /*height: 80vh;*/
    overflow: scroll;
    /*font-family: "Poiret One";*/
    padding-top: 10vh;
}

.lien-text {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
    transition: ease 0.2s;
}

.lien-text:hover {
    transform: scale(1.15);
}



/**ADMIN**/
.btn-ajout {
    width: fit-content;
    border-radius: 25px;
    background-color: #ff6334;
    color: white;
    padding: 7px;
    margin: 10px auto;

}


/**PAGE ACCUEIL**/
#accueil-main {
    text-align: center;
    padding-top: 30vh;
}


/**CATEGORY**/
.categories-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
    height: 65vh;
}

.titre-cat {
    text-align: center;
    margin-top: 30px;
}

#category {
    padding: 15px;
    padding-bottom: 50px;
    border: solid 1px wheat;
    border-radius: 25px;
    width: 50%;
    margin: 10px;
    line-height: 50px;
}

#page-cat {
    padding: 15px;
    line-height: 30px;
}


/**ARTICLE**/
.articles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
    height: 85vh;
    padding-bottom: 60px;
}

.article {
    padding: 15px;
    padding-bottom: 50px;
    border: solid 1px #e7b3f5;
    border-radius: 25px;
    width: 35%;
    margin: 10px;
    line-height: 30px;

}

.page-article {
    padding: 15px;
    line-height: 30px;
}


/**TAG**/
.tag {
    display: flex;
    width: fit-content;
    color: black;
    text-decoration: none;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    margin: 20px;
}

.page-tag {
    width: fit-content;
    color: black;
    text-decoration: none;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    /*margin: 20px auto;*/
}

.tag-line {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 0 auto;
}

.tag-modif-suppr {
    color: black;
    border: solid 1px #b6b6b6;
    border-radius: 10px;
    padding: 5px;
}



/**FORMULAIRE**/

.form-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.btn-submit {
    margin-top: 15px;
    margin-bottom: 5vh;

}

.h1-ajout {
    text-align: center;
    margin-top: 2vh;
}

/*Article*/
.form_article_title_label {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5vh;
}

.form_article_title-input {
    width: 30%;
}

.form_article_content_label {
    width: 100%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
}

.form-article-content-input {
    height: 40vh;
    width: 30%;
}

.form_article_category_label {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}





/*****FOOTER*****/
.footer {
    background-color: #d5702b;
    height: 10vh;
}