{% extends 'Front/base.html.twig'%}

{% block metaTitle %}Accueil{% endblock metaTitle %}

{% block main %}

    <div id="accueil-main">
        <h1>Bienvenue</h1>
        <p>Cliquez sur le menu pour accéder aux catégories</p>
    </div>


{% endblock main %}